<div class="disclaimer">
{{ disclaimer_text | raw }}
<button class="button button--primary js-form-submit form-submit" onclick="accept_disclaimer('{{ accepted_disclaimers }}');">Accept</button>
<a class="button js-form-submit form-submit" href = "{{ reject_url }}">Declie</a>
</div>
